/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* utilities and debug */
/* .debug-box { */
    /* width: 100%; */
    /* background-color: #000; */
    /* color: #fff; */
/* } */
/*  */
/* .debug-content { */
    /* width: 80%; */
    /* margin: 0 auto; */
    /* background-color: #f5f5f5; */
/* } */

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.pr-20 {
    padding-right:20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.px10 {
    padding: 0 10%;
}

.my-30-10 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.my-30 {
    margin: 35px 0;
}

.py-30-20 {
    padding-top: 30px;
    padding-bottom: 20px;
}
.p0 {
    padding: 0;
}

.py10perc {
    padding: 10% 0 10%;
}

.mt-50 {
    margin-top: 50px;
}

.p30 {
    padding: 30px 30px;
}

.my-10 {
    margin: 10px 0;
}

.line-h-30{
    line-height: 30px;
}

/* header */
header {
    position: fixed;
    right: 0;
    left: 0;
    background: #fff;
    z-index: 1;
}

.box {
    width: 50%;
}

.content {
    padding: 0 20px;
    line-height: 80px;
}

.text-al-r {
    text-align: right;
}

.content img {
    vertical-align: sub;
}

nav, 
nav li {
    display: inline-block;
}

.button1 {
    text-decoration: none;
    background-color: #0061ff;
    color: #fff;
    padding: 10px 22px;

}

nav li  {
    padding: 0 35px;
    font-size: 18px;
}

.text-al-r nav li:last-child {
    padding-right: 0;
    font-size: 15px;
}

/* main */
.bg-jumbo {
    background-color: #b4d0e7;
    padding-top: 110px;
}

.content-1 {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 100px;
 }

.jumbo-title {
    font-size: 83px;
}

.float-width{
    width: 29%;
}

.float-width-2 {
    width: 65%;
    padding-left: 80px;
}

.content-1 img {
    width: 100%;
}
.jumbo-title {
    margin-bottom: 40px;
}

.jumbo-text {
    font-size: 18px;
}

.jumbo-button {
    margin-top: 45px;
    margin-bottom: 20px;
    font-size: 18px;
}

.font-size-span {
    font-size: 14px;
    margin-bottom: 10px;
}

.arrow {
    font-size: 40px;
    margin-top: 40px;
}

/* main content */
.content-2 {
    width: 80%;
    margin: 0 auto;
}

.box-2 {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 12% 0 3%;
}

/* columns */
.text-custom {
    font-size: 44px;
    padding-bottom: 5%;
}

.column {
    text-align: center;
    line-height: 30px;
    width: 30%;
    height: 900px;
}

.border-b {
    border-bottom: 1px solid grey;
}

.gutter-column {
    margin: 0 4.5%;
}

.border {
    border: 1px solid grey;
}

.text-al-l {
    text-align: left;
}

.text-custom-2 {
    font-size: 25px;
}

.price {
    font-weight: bold;
}

.info-1 {
    font-size: 14px;
    color: grey;
}

.column ul li {
    font-size: 14px;
    margin-top: 18px;
    line-height: 15px;
    padding-left: 10px;
    list-style: none;
}

.column ul {
    margin-top: 30px;
    margin-bottom: 50px;
}

.now-shop-text {
    margin: 25px 0;
    font-size: 16px;
}

.column hr {
    width: 15%;
}

.column i, 
.column-2 i {
    padding-right: 5px;
}

.fa-check {
    color: #0161ff;
}

/* under column table */
.column-2 {
    border: 1px solid grey;
    margin-top: 40px;
    text-align: center;
}
 
.float-width-3 {
    width: 70%;
}

.float-width-4 {
    width: 26%;
}

.button2 {
    width: 100%;
    display: inline-block;
}

.column-2 .text-al-l div{
    font-size: 15px;
}

/* image with info */
.box-3 {
    width: 100%;
    margin: 0 auto;
    padding: 10% 0 0;
}

.content-3{
    width: 100%;
    margin: 0 auto;
 }

 .float-width-5 {
     width: 55%;
     margin-right: 5%;
 }

 .float-width-6 {
     width: 40%;
 }

 .content-3 .float-left img {
     width: 100%;
 }

 .button3 {
     background-color: #fff;
     border: 1px solid #000;
     color: currentColor;
 }

 /* card section */

 .float-width-7 {
     width: 29%;
     margin: 0px 2% 9%;
 }

 .card-box img {
     width: 100%;
 }

 .info {
     width: 55%;
 }

 /* partners section */
.partners-section-box {
    background-color: #f5f5f5;
} 


.float-width-8 {
    width: 30%;
}

.float-width-9 {
    width: 30%;
}

.float-width-10 {
    width: 50%;
}

.partner-section hr {
    width: 15%;
    margin: 5% 0;
    color: lightgrey;
}

.logo-risizing {
    width: 30%;
}

.p-central-box {
    padding: 3% 5% 0
}

.partner-section .clearfix img {
    width: 50%;
    vertical-align: middle;
    filter: invert(100%)
}

.partners-boxes-setup {
    text-align: center;
    line-height: 15
}

.partners-boxes-setup-2 {
    text-align: center;
    line-height: 15
}

.bg-1 {
    background-color: #a2d39b;
}

.bg-2 {
    background-color: #61082b;
}

.bg-3 {
    background-color: #0093ce;
}
.bg-4 {
    background-color: #ff1c1c;
}

.bg-5 {
    background-color: #d5001f;
}
.bg-6 {
    background-color: #b4d0e7;
}

.bg-7 {
    background-color: #0d2481;
}

.bg-8 {
    background-color: #ffd830;
}

/* more info section */
.box-4 {
    width: 100%;
    background-color: #b4d0e7
}

.content-4 {
    width: 64%;
    margin: 0 auto;
    padding: 6% 0;
}

.content-4 .float-left {
    width: 50%;
}

.content-4 .button3 {
    border: 0;
    padding: 1% 11%;
}

.content-4 h2 {
    color: #61082b;
}

/* question section */

.box-5 hr {
    margin: 3% 0;
    color: lightgray;
}

.box-5 .content-4 h3 {
    font-size: 35px;
    padding-bottom: 20px;
}

.box-5 .content-4 div {
    font-weight: 700;
}

.box-5 .content-4 div i {
    padding-right: 35px;
}

/* footer section */
.box-6 {
    width: 100%;
    background-color: #000;
    color: #fff;
}

.content-5 {
    width: 80%;
    margin: 0 auto;
    padding: 5% 0 3%;
}

.contacts-box {
    padding-right: 9%
}

.contacts-box h5 {
    font-size: 20px;
    padding-bottom: 25px;
}

.content-5 .float-left {
    width: 11%;
}

.content-5 li {
    font-size: 15px;
    line-height: 2;
    list-style: none;
}

.contacts-box hr {
    width: 75%;
    color: lightgray;
    margin: 75% 0 35%;
}

.contacts-box div {
    font-size: 14px;
    color: #999999;
}

.contacts-box i {
    padding: 0 2% 0
}

.contacts-box i:first-of-type {
    padding-left: 0;
}